.votes{
	float: left;
    margin-right: 7px;
    margin-left: 7px;
    background: transparent;
    overflow: hidden;
	}
	
	.Content-List {
    overflow: hidden;
    margin-left: 3px;
    opacity: 1;
	padding: 10px 20px;
}

.postContent
{
	margin: 0;
    margin-bottom: 8px;
    padding: 20px 10px;
    border-radius: 25px;
    border: 2px solid darkblue;
    width:112em;
    background-color: whitesmoke;
    margin-left: 2em;
}

.postContent a{
  
    color: cornflowerblue;
    font-weight: 600;
    font-size: 150%;
    
   
}

.mdl-card.mdl-shadow--6dp {
   position: fixed;
    margin:2em;
    top:13%; 
    right:2%;
}

body{
    background-color: lightslategray;
   
}

#addurl{
   position: fixed;
    margin:2em;
    top:45%; 
    right:2%;
    align-content: center;
}

.mdl-textfield {
    position: relative;
    font-size: 30px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 2em;
    /* padding: 20px 0; */
}
#url-button{
  background-color:  #ff0066;
  height: 4em;
  width:7em;
  color: white;
  display: inline-block;
  margin-left: 2em;
}
#sample3{
    font-size: 25px;
    
}
